body {
	margin: 10px 10px;
	padding: 50px 20px;
	background-color: #c7d4d3;
	font-family: 'Montserrat', sans-serif;
}
.top-nav .nav {
	display: flex;
	align-items:center;
}
.top-nav .nav li {
	padding: 10px 10px;	
	width: 150px;
	text-align: center;
}
.carousel {
	 background-color: #222;	
}
.carousel img {
	margin: auto;
}
[class*="item"]{
	height: 350px;
}
.tab-pane {
  padding: 10px;
}
.tab-content {
	height: 200px;
	background-color: #3674d8;
}
.tabs, .modals {
	padding: 30px 30px;
}